<div id='addRoute'>
<form>

Start Location: <input type="text" id='startLocation' name="startLocation" value="<%= params["startLocation"] %>"><br>
End Location: <input type="text" id='endLocation' name="endLocation" value="<%= params["endLocation"]%>"><br>
Road Strategy Guide:

<% @strategies.each do |strategy| %>

<input class="roadGradeStrategy" name="roadGradeStrategy" 
type="radio" value="<%=strategy[0]%>" <%= "checked='checked'" if strategy[0].to_s == params[:roadGradeStrategy] %> />
<label for="<%=strategy[0]%>"><%= strategy[1]%></label>

<%end%>

<br>

<input type="submit" onclick='addRoute'>

</form>
</div>
<div id='map' style='width:750px; height:280px;'></div>
 
<div id="narrative" style="width:800px;"></div>

<div id='routeChart' style='display: block'></div>

<div id='profileResponse' style='dispaly: block'></div>
 